
.content {
    overflow: hidden;
    height: auto;
    max-height: 300px;
    width: 100%;
    transition: max-height 1s linear;
}

.content.is-collapsed {
    max-height: 0;
    transition:max-height 1s linear;
}

.home-section{
    background-image: url('{{ asset('images/bg-image.png') }}');
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}
