.mySwiper {
    width:100%;
    height:150px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.mySwiper1{
    width:100%;
    height:550px;
}
.myswiper2{
    width:100%;
    height:550px;
}

.mySwiper3{
    width:100%;
    height:500px;
}

.swiper-button-next,
.swiper-button-prev {

  background-color: white;
  border-radius: 50%;
  width:45px !important;
  height:45px !important;
  font-weight:100 !important;
  margin:-9px;


}






