@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-navigation-color: black;
    --swiper-navigation-fontWeight: 100;
    --swiper-navigation-size: 100px;
    --swiper-pagination-color: green;

  }

  swiper-container::part(button-next) {
    font-weight:100 !important;
  }
